.titleField {
  width: 100%;
  margin-bottom: 10px;

  &::before,
  &::after {
    display: none;
  }
  input {
    font-weight: 700;
    font-size: 36px;
  }
}

.editor {
  font-size: 18px;
  height: calc(100vh - 220px);
}
